<% if object.errors.any? %>
  <div id="error_explanation">
    There are <%= pluralize(object.errors.count, "error") %> with this kitten :(
  </div>
  <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>